@import 'https://fonts.googleapis.com/css?family=Lato:300';
*{
	box-sizing: border-box;
}
h1, h2, h4, h5, h6 {
	text-transform: uppercase;
	color: #444;
	font-family: rale;
	letter-spacing: 1px;
}
h2{
	font-size: 26px;
	color: #333;
}
h3{
	font-family: 'rale', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	padding-top:20px; 
	font-weight: normal;
	color: #777;
}
h4{
	margin-top: 15px;
	font-size: 16px;
}
h5{
	font-family: rale, sans-serif;
	line-height: 1.5;
	font-weight: normal;
	padding: 10px 0;
	font-size: 12px;
}
p{
	color: #888;
	font-family: rale, sans-serif;
	font-size: 15px;
}
.wap1{
	width: 90%;
	margin: auto;
	clear: both;
}
.bienvenidos1{
	margin-top: 50px;
	text-align: center;
}
.contenedor-columnas1{
	width: 100%;
	margin: auto;
	margin-bottom: 50px;
}
.columnasx6{
	width: 33.333%;
	float: left;
	padding: 20px 20px;
	box-sizing: border-box;
	margin: auto;
}
.columnasx6 img{
	width: 100%;

}
